h1{
  font-weight: bold;
}

#games{
  text-decoration: underline;
}

.card{
  width: 300px;
}

img{
  width: 250px;
}

@media (min-width: 425px){
  .card{
    right: 100px;
  }
}
